<p>Limit the amount of quarters you'd like:</p>

<form action='/home' method='get'>
  <select class="form-control" id='coinlimit' name='coinlimit'>
      <option>5</option>
      <option>10</option>
      <option>15</option>
  </select>
  <a href='/' class="btn btn-success" role="button">Next</a>
</form>
