<h1>Enter an amount, and we'll give your change:</h1>
<form action='/results'>
  <div class="form-group">
    <label for="user-coin-input">How much change do you have?</label>
    <input id="coinage" name="coinage" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
